<div class="new-body">

<h3>ようこそ</h3>

<p class="space"></p>

<div class="field-home">
  <%= link_to "ログイン", user_session_path %><br />
</div>

<div class="field-home">
  <%= link_to "新規登録", new_user_registration_path %><br />
</div>


</div>