<h1>単位</h1>

<div class="credit_num">
<canvas id="myChart1" width="400" height="400"></canvas>
<script>draw_graph1();</script>
<p><%= @amount%>/<%= @am%></p>
</div>

<table class="table-c" border="1" cellspacing="0" cellpadding="0" bordercolor="#A4A4A4" align="right">
<tr>
<th bgcolor="#FFFFFF" width="150"><font color="#000000">授業名</font></th>
<th bgcolor="#FFFFFF" width="150"><font color="#000000">単位数</font></th>
</tr>

<% @lessons.each do |lessons| %>
  <tr>
    <td bgcolor="#FFFFFF" valign="top" width="75"><%= lessons.name %></td>
    <td bgcolor="#FFFFFF" valign="top" width="75"><%= lessons.credit %></td>
  </tr>
<% end %>
</table>

<!-- <table class="table-c" border="1" cellspacing="0" cellpadding="0" bordercolor="#A4A4A4" align="right">
<tr>
<th bgcolor="#FFFFFF" width="150"><font color="#000000">授業名</font></th>
<th bgcolor="#FFFFFF" width="150"><font color="#000000">単位数</font></th>
</tr>
<tr>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
<td bgcolor="#FFFFFF" valign="top" width="75"></td>
</tr>
</table>

<p id="credit1">取得単位見込み</p>
<p id="credit2">合計</p> -->