<h1>金曜日</h1>
<%= link_to image_tag("icon5.png",:class => "yazirushi"), lessons_graph_path %>

<p class="space"></p>

<canvas id="myChart6" width="50" height="60"></canvas>
<script>draw_graph6();</script>