/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	/*background-image: url('bg.png');
	background-size: cover;*/
	background-color: white;
	min-width: 100vw;
	min-height: 100vh;
}

.new-body{
	position: fixed;
	background-image: url('bg.png');
	background-size: cover;
	width: 100vw;
	height:100vh;
	z-index: 1;
}

.main-container {
	padding: 10px 0 10px;
}

.container{
	position: fixed;
	bottom: 0px;
	height:60px;
	padding: 8px 0;
	width: 100vw;
	z-index: 1;
	display: flex;
	justify-content:space-around;
	align-items:flex-end;
	background-image: url('icon4.png');
	background-size: cover;

}

.item{
	width:34px;
	height: 32px;
}

.item1{
	position: fixed;
	top: 0px;
	height:40px;
	width: 100vw;
	z-index: 1;
	display: flex;
	align-items:flex-start;
	background-image: url('icon4.png');
	background-size: cover;
}